.Player {
  list-style: none;
  padding: 0.7rem;
  margin: 0.7rem;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: whitesmoke;
  border: 5px solid lime;
}

.Player__name {
  margin-right: auto;
  text-align: center;
}

.Profile__image {
  border: 2px solid rgb(93, 0, 255);
  border-radius: 6px;
  padding: 0.2rem;
  height: 15vw;
  width: auto;
}
